<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <nlog>
        <targets>
            <target name="file" type="File" fileName="c:\logs\fcs-sdk-net\Tests\ConsoleTests.log" layout="${longdate} [${level:uppercase=true:padding=5}]${logger:shortName=true:padding=25}: ${message}" archiveEvery="Day" maxArchiveFiles="60" />
        </targets>
        <rules>
            <logger name="*" minlevel="Debug" writeTo="file" />
        </rules>
    </nlog>
</configuration>