@using CredentialsMvcTests.Models
@model LoginViewModel
@{
    ViewBag.Title = "Sign In";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4" style="margin-top: 75px; margin-bottom: 75px">
        <div data-fc-login="mode:credentials;actionUrl:/CredentialsMvcTests/Account/Login"></div>
    </div>
</div>
